extends layout

block content
	#startChange
		section.hero.is-light.spacer
			.hero-body
				.container
		section
			.columns.is-mobile
				.column.is-auto
				.column.is-half
					.content
						.container(align="center")#cAbout
							h1 About PC Rocket
							p.subtitle
								| With over 15 years of experience, we can handle just about any tech question or computer repair that comes our way.
								| Our quick and easy remote support is available to residential and business clients. We can solve most software issues relatively quickly and no need for specific on site appointments, sticking around the house or, interrupting the office during the work day. 
							hr
				.column.is-auto
		section
			.container(style="padding-bottom: 70px;")
				.content
					.container
						.columns(align="center")
							.column.is-4
								figure.image#imgCircle
									img(src='../../images/1.png', alt='')
								.content
									.container#containAbout
										h1 Onsite Computer Repair Service in Manila
										p(align="justify") 
											| In 2002, PC Rocket became part of Best Buy, and together we've provided trusted, expert service for millions of customers.
											| PC Rocket Manila is proud to offer a wide range of onsite computer repair services to Philippines, Manila metro area businesses and homes at excellent rates. As always, our service is guaranteed!
							.column.is-4
								figure.image#imgCircle
									img(src='../../images/2.png', alt='')
								.content
									.container#containAbout
										h1 Strength in PC Rocketer Squad
										p(align="justify")
											| You'll find PC Rocketer Squad in every Best Buy store, with more than 100 Agents across the country ready to help.
											| Get Started Now! Easy as 1-2-3. Contact us, send us e-mail. If you are one of our clients, you can take advantage affordable rates for all types of computer repair services, such as hardware repair, malware removal and much more.
							.column.is-4
								figure.image#imgCircle
									img(src='../../images/3.png', alt='')
								.content
									.container#containAbout
										h1 Expert Repair and Maintenance
										p(align="justify")
											| We can install or repair thousands of products, no matter where you bought them.
											| We offer computer check up, computer maintenance and computer tune up service. These services help to detect and prevent serious computer problems, fix slow computers, and generally optimize your computer for better performance.
			
			section.hero.is-light
				.hero-body
					.container
						.content
							h1.title What Our Customers Have to Say
							blockquote#quote
								| "The Agent was knowledgeable, the service was timely and I now have a computer that's just like new. What more could I ask for?
								| They answer any questions I have, which makes me smarter about my computer. More importantly, they fix the problem!"
								h4(align="right")
									| - Dr. Juan Dela Cruz
							blockquote#quote
								| "We have used PC Rocket for our computer repair and upgrades for many years (5? 10?). They are our go-to person. We are heavy home users of computers; my husband is an editor and writer on Wikipedia and I’m a visual..."
								h4(align="right")
									| - Juana Cruz

							


