doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title PC Rocket
    link(rel='stylesheet', type='text/css', href='./stylesheets/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/bulma.css')
    //link(rel='stylesheet', type='text/css', href='./stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/style.css')
    
    nav.nav.rheader
      .container
        .nav-left
           a.is-brand(href='#').nav-item
            figure.image.is-48x48#rocketLogo
              img(src='./images/rocket-logo.png' alt='Rocket logo')
              span.rlogo PC Rocket
        span.nav-toggle
          span
          span
          span
        .nav-right.nav-menu.links
          a.nav-item(href='/').is-active
            | Home
          a.nav-item(href='/hardware')
            | Services
          a.nav-item(href='#')
            | About Us
          a.nav-item(href='#')
            | Contact

  body
  block content
  
  // Footer
  footer#footer
    .inner
      h2 Get In Touch
      ul.actions
        li
          span.icon.fa-phone
          a(href='#') (000) 000-0000
        li
          span.icon.fa-envelope
          a(href='#') information@untitled.tld
        li
          span.icon.fa-map-marker
          |  123 Somewhere Road, Nashville, TN 00000
    .copyright
      | © Untitled. Design 
      a(href='https://templated.co') TEMPLATED
      | . Images 
      a(href='https://unsplash.com') Unsplash
      | .
  // Scripts
  script(src='./js/jquery.min.js')
  script(src='./js/jquery.scrolly.min.js')
  script(src='./js/skel.min.js')
  script(src='./js/util.js')
  script(src='./js/main.js')
  script(src='./js/script.js')